/*  
    Xinyi Wang
    06/29/17
    Xinyi's Portfolio  
    This file is the stylesheet of the web page "Xinyi's Portfolio". 
*/

.carousel .item {
    height: 500px;
}

.item img {
    margin: auto;
    max-width: 100%;
    height: auto;
    width: 550px;
}

body {
    background-color: #eee;
    font-family: fantasy;
    font-size: 2.2em;
    line-height: 2.8em;
    padding-top: 80px;
    text-align: center;
}

.uw {
    text-shadow: 2px 1px #ffd700;
}

.me {
    text-shadow: 2px 1px #fff3b2;
}

.jumbotron {
    background-color: white;
}

#name {
    font-size: 3em;
}

.jumbotron h1 {
    color: #6b2b87;
    font-size: 2.5em;
}

.carousel-caption {
    border: 0;
    bottom: 1px;
    color: #b2b2b2;
    margin: 0;
    padding: 0;
    text-align: left;
    text-shadow: none;
}

.carousel-control {
    color: black;
}

#link, .navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #ffd700;
}

.navbar-default .navbar-brand, .carousel-caption {
    font-size: 1.5em;
}

#link:hover {
    color: #cdb8d7;
}

#theCarousel {
    padding-bottom: 55px;
    padding-top: 55px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.navbar {
    background-color: #6b2b87;
    font-size: 1em;
    padding: 0.2em;
}

.collapse {
    margin-right: 30px;
}

.subtitle {
    font-size: 0.8em;
    text-shadow: 2px 1px #ededed;
}

.unit {
    line-height: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0.8em;
}

.aboutme {
    line-height: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

#copyright {
    font-size: 0.5em;
    color: #c0c5ff;
}

.carousel-indicators li {
    border-color: #b2b2b2;
}

.carousel-indicators .active {
    background-color: #a6a6a6;
}

#intropic {
    margin-left: 0px;
    margin-right: 20%;
    max-width: 20%;
}

#introtext {
    float: left;
    margin-left: 20%;
    margin-right: 0px;
}

#introcontainer {
    margin-bottom: 5%;
}