/*  
    Xinyi Wang
    06/29/17
    Xinyi's Portfolio  
    This file is the stylesheet of the web page "Xinyi's Portfolio". 
*/

img {
    margin: auto;   
    width: 60%;
}

body {
    background-color: #eee;
    font-family: fantasy;
    font-size: 2.2em;
    line-height: 2.8em;
    padding-top: 80px;
    text-align: center;
}

.uw {
    text-shadow: 2px 1px #ffd700;
}

.jumbotron {
    background-color: white;
}

.jumbotron h1 {
    color: #6b2b87;
    font-size: 3em;
}

.carousel-caption {
    border: 0;
    bottom: 1px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-shadow: none;
}

.reverse, .carousel-control {
    color: black;
}

#link, .navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #ffd700;
}

.navbar-default .navbar-brand, .carousel-caption {
    font-size: 1.5em;
}

#link:hover {
    color: #cdb8d7;
}

#theCarousel {
    padding-bottom: 55px;
    padding-top: 55px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.navbar {
    background-color: #6b2b87;
    font-size: 1em;
    padding: 0.2em;
}

.collapse {
    margin-right: 30px;
}

.subtitle {
    font-size: 0.8em;
    text-shadow: 2px 1px #ededed;
}

.unit {
    line-height: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0.8em;
}

#copyright {
    color: #c0c5ff;
}