.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Link */
a {
  color: #aa85bb;
}

/* Button and Navbar */
.btn-purple {
  background-color: #6b2b87;
  color: white;
}

.btn-purple:hover {
  background-color: #cdb8d7;
  color: black;
}

/* Jumbotron */
.jumbotron {
  background-color: white;
}

.jumbotron h2 {
  color: #6b2b87;
  margin-bottom: 1em;
}

/* Navigation bar */
.navbar {
  background-color: #6b2b87;
  font-size: 1em;
}

.navbar-dark .navbar-brand:hover {
  color: #ffd700;
}

.navbar-dark .navbar-brand {
  font-size: 1.5em;
}

.navbar .active {
  font-weight: bold;
}

/* Introduction cards */
#name {
  font-size: 2em;
}

#chineseName {
  font-size: 0.8em;
}

.introCard {
  margin-top: 1rem;
  text-align: left;
}

.imgRef {
  font-size: 0.7em;
}

.introCardMask {
  background: rgba(0, 0, 0, 0.55);
}

#xinyiCardMask {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 30%);
}

/* Tabs for CV and Artwork */
.nav-tabs .nav-link {
  background-color: #f0e9f3;
  color: black;
  margin-left: 0.3rem;
}

.nav-tabs .nav-link.active {
  background-color: #a28dac;
  color: white;
}

/* .nav-tabs .nav-link:hover {
  background-color: #cdb8d7;
  color: black;
} */

.nav-tabs .collapsible-title {
  display: none;
}

.nav-tabs .active .collapsible-title {
  display: inline;
}

/* Cv */
.cv-desktop {
  display: none;
}

.mobile {
  display: block;
}

@media (min-width: 576px) {
  .cv-desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

.btn-link,
.btn-link:active {
  color: #6b2b87;
}

.btn-link:active {
  font-weight: bold;
}

#cv h5 {
  margin-top: 1rem;
}

#cv p {
  margin-bottom: 0.5rem;
}

.purple-heading {
  color: #6b2b87;
}

.list-group-flush {
  text-align: left;
}

/* Copyright */
#copyright {
  color: #acb1e5;
  font-size: 0.7em;
  ;
  margin-top: 1.5rem;
}

/* Contact */
.contactLogo {
  width: 3rem;
}

#contactLogoContainer {
  margin: auto;
  width: 40%;
}

/* Maintenance */
#maintenance {
  margin-top: 15rem;
  color: #6b2b87;
}